<settings>

  <offline>false</offline>

  <proxies>
    <proxy>
      <id>dev http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>dev-proxy.oa.com</host>
      <port>8080</port>
      <nonProxyHosts>maven.oa.com|qq.com|localhost|127.0.0.1</nonProxyHosts>
    </proxy>
    <proxy>
      <id>dev https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>dev-proxy.oa.com</host>
      <port>8080</port>
      <nonProxyHosts>maven.oa.com|qq.com|localhost|127.0.0.1</nonProxyHosts>
    </proxy>
  </proxies>

  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <!-- 开源库，包括中央仓库、Apache等仓库，由RDM团队维护 -->
        <repository>
          <id>central</id>
          <url>http://maven.oa.com/nexus/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <!-- 公司内部release仓库，由RDM团队维护 -->
        <repository>
          <id>rdm-releases-repo</id>
          <url>http://maven.oa.com/nexus/content/repositories/releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <!-- 数平内部release仓库，后续会考虑统一用RDM团队维护的仓库 -->
        <repository>
          <id>tdw-release-repo</id>
          <url>http://maven.data.oa.com/nexus/content/repositories/releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://maven.oa.com/nexus/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>